#home_body{
    background-image: url(https://images.hdqwalls.com/wallpapers/leather-texture-blue-4k-si.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
}